.mfw-cells-list{
  padding: 0 torem(30px);
  background-color: $color-white;
}
.mfw-cell{
  position: relative;
  display: flex;
  //height: torem(88px);
  line-height: torem(86px);
  border-bottom: 1px solid #E9E9E9;
  clear: both;
  zoom:1;

  &:after {
    clear: both;
    display: block;
    visibility: hidden;
    font-size: 0;
    content: " ";
    height: 0
  }
  &:last-child{
    border-bottom: none;
  }

  label{
    display: inline-block;
    color: $color-black;
  }

  .cell-content{
    flex: 1;

    >a{
      display: block;
      margin-left: torem(50px);
      clear: both;
      zoom:1;
      &:after {
        clear: both;
        display: block;
        visibility: hidden;
        font-size: 0;
        content: " ";
        height: 0
      }
    }

    .form-item{
      margin-left: torem(50px);
      border: none;
      width: 80%;
      height: 99%;
    }
  }
  .cell-right{
    float: right;
    display: inline-block;
  }

  .desc{
    display: inline-block;
    color: $color-gray2;
    font-size: $font-sm;
    .img{
      width: torem(60px);
      vertical-align: middle;
    }
  }

  .arrow-r{
    border-color: $color-gray2;
  }
}