/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:afbfa145a1fef70883584abd57c66c85:58ec308c3ca603fe2c69d75e0321e17f:ed931b7a1ba792304c785c478d54be1f$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.dianzhu-icon {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(/img/dianzhu_icons.png);background-size: torem(84px);}

.dianzhu-icon-complete {width:torem(80px); height:torem(80px); background-position: torem(-0px) torem(-189px)}
.dianzhu-icon-redbag {width:torem(32px); height:torem(26px); background-position: torem(-52px) torem(-0px)}
.dianzhu-icon-refund {width:torem(80px); height:torem(80px); background-position: torem(-0px) torem(-269px)}
.dianzhu-icon-share {width:torem(23px); height:torem(23px); background-position: torem(-0px) torem(-0px)}
.dianzhu-icon-shiping {width:torem(80px); height:torem(80px); background-position: torem(-0px) torem(-109px)}
.dianzhu-icon-wallet {width:torem(80px); height:torem(80px); background-position: torem(-0px) torem(-29px)}
.dz-icon-search {width:torem(29px); height:torem(29px); background-position: torem(-23px) torem(-0px)}
