.mfw-tab{
  display: block;
  width: 100%;
  line-height: torem(88px);
  border-bottom: #E2E2E2 1px solid;
  background-color: $color-white;

  ul{
    display: flex;
    width: 100%;

    li{
      position: relative;
      flex: 1;
      text-align: center;
      color: $color-gray;
      font-size: torem(26px);
      &.on{
        color: $color-primary;

        &:after{
          content: ' ';
          position: absolute;
          left: torem(20px);
          right: torem(20px);
          bottom: 0;
          display: inline-block;
          border-bottom: torem(4px) $color-primary solid;
        }
      }
    }
  }
}
.mfw-tab-navigator{
  .tabs{
    ul {
      display: flex;
      align-items: flex-end;
      width: 100%;
      .tab-item{
        position: relative;
        flex: 1;
        padding: torem(10px) 0;
        border: #e6be76 torem(4px) solid;
        border-bottom: none;
        border-top-left-radius: torem(10px);
        border-top-right-radius: torem(10px);
        text-align: center;
        color: $color-black;
        font-size: torem(30px);
        &:first-child{
          border-right: none;
          border-top-right-radius: 0;
          &.on{
            border-top-right-radius: torem(10px);
          }
        }
        &:last-child{
          border-left: none;
          border-top-left-radius: 0;
          &.on{
            border-top-left-radius: torem(10px);
          }
        }
        &.on{
          padding: torem(20px) 0;
          background: linear-gradient(0deg, #eb8300, #fde29f);
          border: none
        }
      }
    }
  }
  .tab-content{
    border: #e6be76 torem(4px) solid;
    border-bottom-left-radius: torem(10px);
    border-bottom-right-radius: torem(10px);
    .tab-content-item{
      display: none;
      &.on{
        display: block;
      }
    }
  }
}